<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext"
             value="true" />
    </appSettings>

    <system.web>
        <compilation debug="true"
                     targetFramework="4.5.1" />
        <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding>
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="WcfCodeConfiguration.EchoService">
                <endpoint binding="netTcpBinding"
                          contract="WcfCodeConfiguration.Contract.IEchoService" />
                <endpoint address="MEX"
                          binding="mexTcpBinding"
                          contract="IMetadataExchange" />
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceCredentials>
                        <serviceCertificate findValue="CN=localhost"
                                            storeName="My"
                                            x509FindType="FindBySubjectDistinguishedName" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                                   multipleSiteBindingsEnabled="true">
            <serviceActivations>
                <add relativeAddress="IEchoService.svc"
                     service="WcfCodeConfiguration.EchoService" />
            </serviceActivations>
        </serviceHostingEnvironment>

    </system.serviceModel>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>